@media only screen and (min-width:1536px){
    .main-text-section .main-four-img .four-image{width: auto;}
}



@media only screen and (min-width: 600px) and (max-width: 1808px){
    .container {
        width: 75% !important;
    }
}
@media only screen and (max-width:1024px){
    #header li.nav-item{padding: 0px 5px;}
    #header .nav-link{font-size:18px;}
}

@media only screen and (max-width:991px){
    #header .inner-logo{display: none;}
}

/*================= media query ==============*/

@media only screen and (max-width: 1199px){
    .main-text-section .main-four-img .four-image{width: 412px;}
    .text-section h4{font-size: 20px;}
    .contant_us_section span{font-size: 12px;}
    .contant_us_section input.name{width: 46%;}
    .contant_us_section input.text{width: 93%;}
    .contant_us_section button.dropdown-toggle{width: 93%}
    .contant_us_section .mb-3{width: 93%;}
}

@media only screen and (max-width: 1024px){

.image-section .main-section .main-text span {font-size: 15px;}
.main-text-section .project-inner-text span{font-size: 13px;}
.five-image-section .themecolor-section .five-img h6{font-size: 10px;}
 .bg-img .bg-img-desc{width: auto;}
    .bg-img .bg-img-desc h3{font-size:35px;}
    .bg-img .bg-img-desc .bg-inner-text {width:68%; font-size:25px;}
    .contant_us_section span{font-size: 11px;}
}

@media only screen and (max-width: 991px){
.main-text-section .project-inner-text span{font-size: 19px;}
.image-section .main-section .main-text h3{font-size: 24px;}
.image-section .main-section .a-tag a{font-size: 18px;}
.five-image-section .themecolor-section .five-img h6{font-size: 9px;}
.bg-img .bg-img-desc{padding-bottom:30px;}
.bg-img .bg-img-desc h3{font-size:25px;}
.bg-img .bg-img-desc .bg-inner-text{top:59px; width:68%; font-size:20px;}
.bg-img .bg-img-desc .bg-inner-text{top: 79px;}
.bg-img{height: 360px;}
iframe {max-width: 696px;}
.main-text-section .project_text h1{font-size: 29px;}
.main-text-section .main-four-img .four-image {width: 550px;}
.contant_us_section .row{flex-direction: column-reverse;}
.tex-section{padding-top: 30px;}

}

@media only screen and (max-width: 767px){
.five-image-section .themecolor-section .five-img h6{font-size: 24px;}
.main-text-section .main-four-img .four-image {width: 467px;}
}

/*@media only screen and (max-width: 600px){
  .five-image-section{overflow: hidden;}
}*/
@media only screen and (max-width: 599px){
  .bg-img .bg-img-desc .bg-inner-text{top:auto;}
   .five-image-section .themecolor-section .title-section h1{position: relative;right: 1px;}
   .contact-image .img-cnt img.contant-img1{    left: -3px;position: absolute;max-width: 200px;}
}

@media only screen and (max-width: 479px){
  .five-image-section .themecolor-section .title-section h1{position: relative;right: 1px;}
  .main-four-img .four-image:before{width: 31%}
  .main-text-section .main-four-img .four-image {width: 298px;}
}
/*================== masonry grid =================*/
@media (max-width: 992px) {
.modal-open .modal {padding-top: 100px;}
.image-grid {width: 100%;height: 180px;}

}


@media (max-width: 768px) {
.gallery.container {padding-left: 15px;padding-right: 15px;}
.gallery-list.col-md-12,.gallery-list.col-md-6,.gallery-list.col-md-4,.gallery-list.col-md-3,.gallery-list.col-md-2,.gallery-list.col-md-1 {padding-left: 0;padding-right: 0;}
.gallery-row.row {margin-left: -15px;margin-right: -15px;}
.gallery-row.row.pdtb-40 {padding-top: 10px;}
.horizontal-nav {margin-bottom: 0;}
.modal-open .modal {padding-top: 30vh;}

}

/*================== masonry grid end ==================*/